{% extends "base.html" %}

{% load chartit %}

{% block meta_title %}Structures list{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" id="region-dd-list">
            <strong>Region:</strong>
            <select>
                {% for region in REGIONS %}
                <option value="{{ region.id }}"{% if region.selected %}selected="1"{% endif %}>{{ region.region }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="container">

        </div>
    </div>
{% endblock %}

{% block extra %}

{{ objects|load_charts:"container" }}

{% endblock %}