{% extends "base.html" %}

{% block meta_title %}Structures list{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" id="region-dd-list">
            <strong>Region:</strong>
            <select>
                {% for region in REGIONS %}
                <option value="{{ region.id }}"{% if region.selected %}selected="1"{% endif %}>{{ region.region }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="container">
            <table>
                <thead>
                <th>Region</th>
                <th>Country</th>
                <th>Value</th>
                </thead>
                <tbody>
                {% for object in objects %}
                <tr>
                    <td>{{ object.region }}</td>
                    <td>{{ object.country }}</td>
                    <td>{{ object.value }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Not found</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}